@charset "UTF-8";

	html, body {
        display: flex;
        flex-direction: column;
        align-items: center;
		font-size: 62.5%;
		font: inherit;
        background-color: #333333;
        color: #E7E5E7;
        font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    }

    .line {
        width: 60vw;
        border-bottom: 2px solid rgba(255,255,255,.25);
    }

    ul li {
        list-style-type: disc;
        padding: 5px 0px;
        font-size: 1.1em;
        padding-left: 0.4em;
    }

    .posts ul li,
    .projects ul li,
    .resources ul li {
        list-style-type: none;
    }
    
    .intro, .posts, .projects, .resources {
        width: 59vw;
        height: 100%;
        align-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .connect {
        width: 59vw;
        height: 100%;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    .posts-title, .projects-title, .resources-title, .connect-title {
        align-content: center;
        align-items: center;
        text-align: center;
    }
    
    h1 {
        font-size: 4em;
        font-weight: normal;
    }

    .intro p {
        font-size: 1.1em;
        padding-left: 0.4em;
    }

    .posts p, .projects p, .resources p, .connect p {
        font-size: 1.3em;
        padding-left: 0.4em;
    }

    a {
        color: #03a9f4;
        text-decoration: none;
    }

    a:hover {
        color: #03a9f4;
        text-decoration: underline;
    }

    .posts a, .projects a, .resources a, .connect a {
        color: #E7E5E7;
        text-decoration: none;
    }

    .posts a:hover, .projects a:hover, .resources a:hover,
    .connect a:hover {
        color: #03a9f4;
        text-decoration: underline;
    }

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

    .line {
        width:100%;
        border-bottom: 1px solid rgba(255,255,255,.25);
    }

    .intro {
        width: 90vw;
        align-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .posts, .projects, .resources, .connect {
        width: 90vw;
        height: 100%;
    }

    h1 {
        font-size: 3em;
        font-weight: normal;
    }
}
