@charset "UTF-8";

	html, body {
        display: flex;
        flex-direction: column;
        align-items: center;
		font-size: 62.5%;
		font: inherit;
        background-color: #333333;
        color: #E7E5E7;
        font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    }

    .header {
        text-align: center;
        word-spacing: 50px;
    }

    .intro, .posts, .projects, .resources {
        width: 59vw;
        height: 100%;
        align-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .line {
        width: 59vw;
        border-bottom: 2px solid rgba(255,255,255,.25);
    }

    ul li {
        list-style-type: disc;
        padding: 5px 0px;
        font-size: 1.1em;
        padding-left: 0.4em;
    }

    .posts ul li,
    .projects ul li,
    .resources ul li {
        list-style-type: none;
    }

    .connect {
        width: 59vw;
        height: 100%;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    .title {
        align-content: center;
        align-items: center;
        text-align: center;
    }
    
    h1 {
        font-size: 4em;
        font-weight: normal;
    }

    .intro p {
        font-size: 1.1em;
        padding-left: 0.4em;
    }

    .posts p, .projects p, .resources p, .connect p {
        font-size: 1.2em;
        padding-left: 0.4em;
    }

    a {
        color: #03a9f4;
        text-decoration: none;
    }

    .header a.current {
        text-decoration: underline;
    }

    a:hover {
        color: #03a9f4;
        text-decoration: underline;
    }

    .posts a, .resources a, .connect a, .header a {
        color: #E7E5E7;
        text-decoration: none;
    }

    .posts a:hover, .resources a:hover,
    .connect a:hover, .header a:hover,
    .header a:active {
        color: #03a9f4;
        text-decoration: underline;
    }

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

    .line {
        width:100%;
        border-bottom: 1px solid rgba(255,255,255,.25);
    }

    .intro {
        width: 90vw;
        align-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .posts, .projects, .resources, .connect {
        width: 90vw;
        height: 100%;
    }

    h1 {
        font-size: 3em;
        font-weight: normal;
    }
}

/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
/* 1792x828px at 326ppi */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) {

    .line {
        width:100%;
        border-bottom: 1px solid rgba(255,255,255,.25);
    }

    .intro {
        width: 90vw;
        align-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .posts, .projects, .resources, .connect {
        width: 90vw;
        height: 100%;
    }

    h1 {
        font-size: 3em;
        font-weight: normal;
    }

}

/* ----------- iPhone 13 mini ----------- */
/* 2340x1080 pixels at 476ppi */
@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) { 

    .line {
        width:100%;
        border-bottom: 1px solid rgba(255,255,255,.25);
    }

    .intro {
        width: 90vw;
        align-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .posts, .projects, .resources, .connect {
        width: 90vw;
        height: 100%;
    }

    h1 {
        font-size: 3em;
        font-weight: normal;
    }
}

/* ----------- iPhone 13 and iPhone 13 Pro ----------- */
/* 2532x1170 pixels at 460ppi */
@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) { 

    .line {
        width:100%;
        border-bottom: 1px solid rgba(255,255,255,.25);
    }

    .intro {
        width: 90vw;
        align-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .posts, .projects, .resources, .connect {
        width: 90vw;
        height: 100%;
    }

    h1 {
        font-size: 3em;
        font-weight: normal;
    }
}

/* ----------- iPhone 13 Pro Max ----------- */
/* 2532x1170 pixels at 460ppi */
/* 2778x1284 pixels at 458ppi */
@media only screen 
    and (device-width: 428px) 
    and (device-height: 926px) 
    and (-webkit-device-pixel-ratio: 3) { 

    .line {
        width:100%;
        border-bottom: 1px solid rgba(255,255,255,.25);
    }

    .intro {
        width: 90vw;
        align-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .posts, .projects, .resources, .connect {
        width: 90vw;
        height: 100%;
    }

    h1 {
        font-size: 3em;
        font-weight: normal;
    }
}

/* ----------- iPhone 11 ----------- */
/* 1792x828px at 326ppi */
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { 

    .line {
        width:100%;
        border-bottom: 1px solid rgba(255,255,255,.25);
    }

    .intro {
        width: 90vw;
        align-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .posts, .projects, .resources, .connect {
        width: 90vw;
        height: 100%;
    }

    h1 {
        font-size: 3em;
        font-weight: normal;
    }
}

/* ----------- iPhone 11 Pro ----------- */
/* 2436x1125px at 458ppi */
@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) { 

    .line {
        width:100%;
        border-bottom: 1px solid rgba(255,255,255,.25);
    }

    .intro {
        width: 90vw;
        align-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .posts, .projects, .resources, .connect {
        width: 90vw;
        height: 100%;
    }

    h1 {
        font-size: 3em;
        font-weight: normal;
    }
}

/* ----------- iPhone 11 Pro Max ----------- */
/* 2688x1242px at 458ppi */
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 3) { 

    .line {
        width:100%;
        border-bottom: 1px solid rgba(255,255,255,.25);
    }

    .intro {
        width: 90vw;
        align-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .posts, .projects, .resources, .connect {
        width: 90vw;
        height: 100%;
    }

    h1 {
        font-size: 3em;
        font-weight: normal;
    }
}
